/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background-color:#F0F0F0;
  font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/images/staking/hero-section-bg.jpg");
  background-position: center;
  background-size: cover;
}
label {
  display:block;
  margin-bottom:10px;
}
input {
  padding:10px;
  width: 100%;
  margin-bottom: 1em;
}
button {
  margin: 2em 0;
  padding: 1em 4em;
  display:block;
}
#result {
  padding:1em;
  background-color:#fff;
  width: 100%;
  padding:10px;
  margin: 1em 0;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 200px;
}
.totalNetworkContainer {
  background-image: url("./assets/images/staking/fill.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  margin: 15px;
  color: #dac799;
}
.colorYellow {
  color: #dac799 !important;
}
.font-bold {
  font-weight: bold;
}
.stakeFormSection {
  margin-bottom: 20px;
}
.loadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.oneLineFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.oneLineBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */